
.u-section-1 .u-sheet-1 {
    min-height: 122px;
  }
  
  .u-section-1 .u-text-1 {
    font-weight: 900;
    margin: 35px auto 35px 20px;
  }.u-section-2 .u-sheet-1 {
    min-height: 586px;
  }
  
  .u-section-2 .u-table-1 {
    margin-top: 39px;
    margin-bottom: 39px;
  }
  
  .u-section-2 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .u-section-2 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .u-section-2 .u-table-cell-6 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-7 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-11 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-12 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-16 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-21 {
    font-weight: 700;
  }
  
  .u-section-2 .u-table-cell-22 {
    font-weight: 700;
  }.u-section-3 .u-sheet-1 {
    min-height: 464px;
  }.u-section-4 .u-sheet-1 {
    min-height: 464px;
  }